*{
    top: 0;
    margin: 0;
}
#newInput input{
    background-color: transparent;
    border: 0;
    width: 20%;
    border-radius: 50%;
    /* border-bottom: 1px solid white; */
    outline: none;
    font-size: 4em;
    color: white;
}
span{
    font-size: 5em;
}
input{
    background-color: transparent;
    border: 0;
    width: 80%;
    /* border-radius: 50%; */
    border-bottom: 1px solid blue;
    outline: none;
    font-size: 1.2em;
    /* color: black; */
}
label{
    font-size: 1.5em;
}